.navbar {
    background-color: #37517e;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
}

.profile {
    border-radius: 50%;
}

.txt {
    margin-left: 0.7rem;
    font-weight: bold;
}

.right {
    display: none;
}

.right.active {
    display: flex;
}

.right ul {
    display: flex;
    list-style: none;
    color: white;
}

.right ul li {
    margin-right: 1rem;
}

.right ul li a {
    color: white;
    text-decoration: none;
}

.right ul li a:hover {
    text-decoration: underline;
    color: red;
}

.dflex {
    display: flex;
}

@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .txt {
        margin-left: 0;
        margin-top: 10px;
    }

    .right {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .right.active {
        display: flex;
    }

    .right ul li {
        margin-right: 0;
        margin-bottom: 8px;
    }
}
